
/*foam-green:#a8e6cf;*/
/*light-green:#dcedc1;*/
/*light-orange:#ffd3b6;*/
/*red-orange:#ffaaa5;*/
/*light-red:#ff8b94;*/

body{
    color:#16213E;
}
textarea{
    background-color: #533483;
    border-color:#0F3460;
}