body{
    background-color:#16213E;
}
textarea{
    background-color: #533483;
    border-color:#0F3460;
    color:#E94560;
    border-radius:10px;
}
button{
    border-radius:100px;
    border-color:#0F3460;
    background-color:#533483;
    color:#E94560;
}