body{
    background-color:#16213E;
}
textarea{
    background-color: #533483;
    border-color:#0F3460;
    color:#E94560;
}
button{
    border-radius:100px;
    color:#533483;
    text-color:#E94560;
}